<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Prime Purchase</h1>
        <p class="lead">Please Review {{products.product_name}} Below!</p>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="{{products.product_image}}" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>{{products.product_name}}</p>
            </blockquote>
            <p> {{products.product_cost}}
                <br /> {{products.product_department}}
                <br /> {{products.total_stock}}
                <br /> {{products.product_description}}</p>
        </div>
    </div>
</div>

<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comment panel
                </div>
                <div class="panel-body">
                    <textarea class="form-control" placeholder="write a review..." rows="3" id="review-text"></textarea>
                    <br>
                    <button type="button" class="btn btn-info pull-right" id="post-btn"
                        value={{products.id}}>Post</button>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        {{#each reviews}}
                        <li class="media">
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{created_on}}</small>
                                </span>
                                <strong class="text-success">{{title}}</strong>
                                <p>
                                    {{body}}
                                </p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>