<div class="jumbotron jumbotron-fluid jumbotron-attr">
    <div class="container">
       <img class="prime-logo" src="/images/logo/new-prime-logo.png" alt="Prim Products logo">
        <p class="lead">Please find all of our Preeminent Products Below!</p>
    </div>
            <div class="col-md-3 return-btns">
                <a type="button" class="btn btn-primary product-button" href="/homepage" id="view-btn">Return to Homeage</a>
                <a type="button" class="btn btn-primary product-button" href="/allproducts" role="button">View All</a>
            </div>
</div>
        <div class="row">
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Name:" id="name-search"> <button
                    class="btn btn-primary product-button" id="name-btn">Search By Name</button>

            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Category:" id="category-search"> <button
                    class="btn btn-primary product-button" id="category-btn">Search By Category</button>

            </div>
        </div>
<br>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Department</th>
            <th scope="col">Product Price</th>
            <th scope="col">Amount in Stock</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td>{{product_name}}</td>
            <td>{{product_department}}</td>
            <td>{{product_cost}}</td>
            <td>{{total_stock}}</td>
            <td>
                <a type="button" class="btn btn-primary product-button" href="/api/products/{{id}}" id="view-btn">View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>