<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Prime Purchase</h1>
        <p class="lead">Please find all of our Preeminent Products Below!</p>
        <div class="row">
            <div class="col-md-3">
                <a type="button" class="btn btn-primary" href="/homepage" id="view-btn">Return to Homeage</a>
                <a type="button" class="btn btn-primary" href="/allproducts" role="button">View All</a>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Name:" id="name-search"> <button
                    class="btn btn-primary" id="name-btn">Search By Name</button>

            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Category:" id="category-search"> <button
                    class="btn btn-primary" id="category-btn">Search By Category</button>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Department</th>
            <th scope="col">Product Price</th>
            <th scope="col">Amount in Stock</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td>{{product_name}}</td>
            <td>{{product_department}}</td>
            <td>{{product_cost}}</td>
            <td>{{total_stock}}</td>
            <td>
                <a type="button" class="btn btn-primary" href="/api/products/{{id}}" id="view-btn">View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>